.box {
    width: 100px;
    height: 100px;
    background-color: seagreen;
}

.box::before {
    display: block;
    content: "Before";
}

.box::after {
    display: block;
    content: "After";
}



.text::before {
    /* content: '\201C'; */
    content: open-quote;
    position: absolute;
    transform: translate(-8px,-30px);
    font-size: 6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: .1;
    z-index: -5;
}

.text::after {
    display: block;
    /* content: "Test"; */
}

/* Can't to image  */

.movie-title[data-rating]::after {
    content: attr(data-rating)
}