
/* h1::before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 100px;
    background-color: black;
} */
h1 {
    text-align: center;
}

h1::after, h1::before {
    content: "";
    display: inline-block;
    height: 5px;
    width: 20%;
    transform: translateY(-7px);
    background-color: black;
}

/* The content is still inside the element, not before or after */

.box {
    width: 100px;
    height: 100px;
    background-color: seagreen;
}

.box::before {
    display: block;
    content: "Before";
}

.box::after {
    display: block;
    content: "After";
}

.text::before {
    /* content: '\201C'; */
    content: open-quote;
    position: absolute;
    transform: translate(-8px,-30px);
    font-size: 6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: .1;
    z-index: -5;
}

.text::after {
    display: block;
    /* content: "Test"; */
}


.movie-title[data-rating]::after {
    content: attr(data-rating)
}

/* Ne fonctionne pas avec les éléménts img  */
/* "content" peut être un counter */